/* General styling for the login container */
.login-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid gray;
  }
  
  /* Styling for the heading */
  .login-container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Form styling */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Styling for the input fields and labels */
  label {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
  }
  
  input[type="text"], input[type="password"],input[type="number"] {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    color: black;
  }
  
  /* Focus effect on input fields */
  input[type="text"]:focus, input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
   
  }
  
  /* Styling for error message */
  p {
    color: red;
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
  }
  
  /* Button styling */
  button {
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #004085;
  }
  .packageLoingHeader{
    margin-top: 30px;
    font-family:fantasy;
  }
  .package-img{
    position: absolute;

      width: 400px;
      height: auto;
      border-radius: 10px;
      top:9.9rem;
      left:65rem;89\
      z-index: -30;
  
    
  }
  #image2{
    top:300px;
      left:100px;
  }

  